VITE_VOLTSONIC_CONTRACT_ADDRESS=0xYOUR_VOLTSONIC_CONTRACT_ADDRESS
VITE_ROBINHOOD_RPC_URL=https://rpc.testnet.chain.robinhood.com
VITE_ROBINHOOD_RPC_URLS=https://rpc.testnet.chain.robinhood.com
VITE_ROBINHOOD_CHAIN_ID=46630
VITE_BACKEND_API_URL=http://127.0.0.1:8000
VITE_SHOW_BACKEND_TOASTS=true
VITE_VOLTSONIC_ROUND_DURATION_SECONDS=180
