PRIVATE_KEY=0xYOUR_PRIVATE_KEY
OWNER_ADDRESS=0xYOUR_OWNER_ADDRESS
TOKEN_ADDRESS=0xYOUR_VOLT_TOKEN_ADDRESS

BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_MAINNET_RPC_URL=https://mainnet.base.org

VOLTSONIC_PROXY_ADDRESS=0xYOUR_EXISTING_PROXY_ADDRESS

VRF_COORDINATOR=0xYOUR_VRF_COORDINATOR
VRF_KEY_HASH=0xYOUR_VRF_KEY_HASH
VRF_SUBSCRIPTION_ID=0
VRF_REQUEST_CONFIRMATIONS=3
VRF_CALLBACK_GAS_LIMIT=250000
